

<!DOCTYPE html> 

<html lang="en" ng-app="phonecat">
<head>
    <title>@Page.Title</title>

    @Assets.jQuery(false)
  
    @Assets.Script("knockout-2.1.0.js")
   @* @Assets.Script("knockout.mapping-latest.js")*@

 
    @Assets.CSS("bootstrap.css")


</head>
<body>


        @RenderBody()

</body>
</html>